@model YRSP.Models.User

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.user_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_first_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_first_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_last_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_last_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user_phone_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user_phone_number)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.user_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
