
@{
    ViewBag.Title = "Career";
}
<!--background image-->
<div class="container-fluid" style="        height: 200px;
        background-image: url('../../Images/career.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;" ">
</div>
<!--title-->
<div class="container" style="font-size:20px">
    <div class="row">
        <div class="col-12 text-center">
            <br />
            <h3 class="w3l-title"><span>C</span>areer</h3>
            <p>Learn how to find a job and start your new career in Victoria. We provide various free resources to help you study working skills and know more about work rights of refugees.</p>
            <hr style=" border-color:black; border-width:medium" />
        </div>
    </div>
 <!--links to 3 subpages-->
    <div class="row">
        <div class="col-md-4">
            <a href="@Url.Action("Skill", "Home")"><img src="/Images/skill.jpg" style="width: 100%" /></a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("Find_job", "Home")"><img src="/Images/find_job.jpg" style="width: 100%" /></a>
        </div>
        <div class="col-md-4">
            <a href="@Url.Action("Workright", "Home")"><img src="~/Images/working rights.png" style="width: 100%" /></a>
</div>
    </div>
<!--brief intro on career page-->
    <div class="row">
        <div class="col-12 ">
            <br />
            <br />

            <h3>In this section, you can find many useful resources about:</h3>
            <br />
            <h4>Working Skills</h4>
            <p>It is important that you prepare yourself well before applying for a job. Improve work skills that will help you get a satisfied job. Learn how to make a good resume, get interview tips and free working skills courses now! <a href="@Url.Action("Skill", "Home")"><b>Read more</b></a></p>
            <br />
            <h4>Find a job</h4>
            <p>There are many good jobs for refugees and immigrants in Victoria that you can apply for. Get to know the employment programs for refugees and start your job search now! <a href="@Url.Action("Find_job", "Home")"><b>Read more</b></a> </p>
            <br>
            <h4>Work Rights</h4>
            <p>Understand refugee's workplace rights and responsibilities in regard to pay and conditions, health and safety and workplace bullying. <a href="@Url.Action("Workright", "Home")"><b>Read more</b></a> </p>
        </div>
    </div>
</div>



