@{
    ViewBag.Title = "Home Page";
}
<!-- banner section -->
<section class="banner-w3ls">
    <!--mainpage background image-->
    <div class="jumbotron" style="background:url(/Images/mai.jpg) no-repeat center center; background-size: cover">
        <div class="container" style="text-align: center">
            <div class="transbox">
                <h3 id="large-screen" style="font-size: 4em; color: black;"><b>Young Refugee Support Project (YRSP)</b></h3>
                <h3 id="small-screen" style="font-size: 4em; color: black;"><b>YRSP</b></h3>
                <p style="color: black;">
                    YRSP is a one-stop, comprehensive website that houses the resources and information young refugees need
                    to build successful lives for themselves and their families in the Victoria.
                </p>
            </div>
            <ul class="banner-agileits">
                <li><a href="@Url.Action("About", "Home")" id="jumbotron-button">About Us</a></li>
            </ul>

            <a href="#about" class="btn btn-circle" id="hand">
                <i class="fa fa-hand-o-down" aria-hidden="true"></i>
            </a>

        </div>
    </div>
</section>
<!--our service block-->
<div class="stats" id="about">
    <div class="container">
        <h3 class="w3l-title"><span>O</span>ur <span>S</span>ervices</h3>
        <p>
            Our support services help to address the needs of refugees in Victoria.
            Our services include: Education support, Career services, Social events, Become a Volunteer, Life in Victoria, Know your rights.
        </p>
        <div class="row" style="margin-left: 0; margin-right: 0;">
            <div class="col-sm-4 service-tile">
                <div class="tile-background" id="Education">
                    <div class="tile-content">
                        <h4><a href="####" data-toggle="modal" data-target="#myModal">Education support</a></h4>
                        <p>Find English learning resources & courses.</p>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"><b>Education support</b></h4>
                        </div>
                        <div class="modal-body">
                            We provide services for guiding you to access free courses and help you find out what schools
                            are suitable for refugees. Please make your selection about what you are interested in:
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" href="@Url.Action("Education", "Home")" role="button">Find Courses</a>
                            <a class="btn btn-primary" href="@Url.Action("School", "Home")" role="button">Find Schools</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 service-tile">
                <div class="tile-background" id="Career">
                    <div class="tile-content">
                        <h4><a href="@Url.Action("Career", "Home")">Career</a></h4>
                        <p>Help you start your career in Victoria!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 service-tile">
                <div class="tile-background" id="Event">
                    <div class="tile-content">
                        <h4><a href="@Url.Action("Event","Users")">Social Events</a></h4>
                        <p>Participate in upcoming refugee social events.</p>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left: 0; margin-right: 0;">
                <div class="col-sm-4 service-tile">
                    <div class="tile-background" id="Volunteer">
                        <div class="tile-content">
                            <h4><a href="@Url.Action("Volunteer","Home")">Become a Volunteer</a></h4>
                            <p>Want to help refugees in Victoria. Learn more!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 service-tile">
                    <div class="tile-background img-responsive" id="Life">
                        <div class="tile-content">
                            <h4><a href="@Url.Action("Lives","Home")">Life in Victoria</a></h4>
                            <p>Want to help refugees in Victoria. Join us!</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 service-tile">
                    <div class="tile-background" id="Rights">
                        <div class="tile-content">
                            <h4><a href="@Url.Action("Rights","Home")">Know your rights</a></h4>
                            <p> Get to know refugee rights in Australia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <style>

        div#mainPageViz {
            margin-left: auto;
            margin-right: auto;
            width: 600px;
            height: 400px
        }
    </style>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    @*<script type="text/javascript" src="mainPageViz.js"></script>*@
    @Scripts.Render("~/bundles/indexVisual")
    <div id="mainPageViz"></div>
    <p style="text-align:center">There were a total of 16,250 refugee and humanitarian visas granted in 2017-18 as per the data from <a href="https://data.gov.au/data/dataset/dba45e7c-81f4-44aa-9d82-1b9a0a121017" target="_blank"> Department of Home Affairs</a>.<br> Want to know more facts and statistics about refugees and asylum seekers in Australia? <a href="/Home/Population">Learn More</a></p>
</div>
@Scripts.Render("~/bundles/flipster")
<div class="testimonial">
    <div class="container">
        <h3 class="w3l-title"><span>T</span>estimonials</h3>
        <div class="flipster">
            <ul>
                <li>
                    <div class="agile-testi">
                        <div class="agile-testi-top">

                        </div>
                        <div class="agile-testi-bottom">
                            <img src="https://via.placeholder.com/75" alt="" />
                            <h4>Qi Pan</h4>
                            <h6>Donec libero dui, scelerisque ac augue</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt lorem sed
                                velit fermentum lobortis. Fusce eu semper lacus, eget placerat mauris. Sed lectus
                                tellus
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="agile-testi">
                        <div class="agile-testi-top agile-testi-top1">

                        </div>
                        <div class="agile-testi-bottom">
                            <img src="https://via.placeholder.com/75" alt="" />
                            <h4>Yun Lou</h4>
                            <h6>Donec libero dui, scelerisque ac augue</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt lorem sed
                                velit fermentum lobortis. Fusce eu semper lacus, eget placerat mauris. Sed lectus
                                tellus
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="agile-testi">
                        <div class="agile-testi-top">

                        </div>
                        <div class="agile-testi-bottom">
                            <img src="https://via.placeholder.com/75" alt="" />
                            <h4>Sakshi </h4>
                            <h6>Donec libero dui, scelerisque ac augue</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt lorem sed
                                velit fermentum lobortis. Fusce eu semper lacus, eget placerat mauris. Sed lectus
                                tellus
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="agile-testi">
                        <div class="agile-testi-top">

                        </div>
                        <div class="agile-testi-bottom">
                            <img src="https://via.placeholder.com/75" alt="" />
                            <h4>Laura Carl</h4>
                            <h6>Donec libero dui, scelerisque ac augue</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt lorem sed
                                velit fermentum lobortis. Fusce eu semper lacus, eget placerat mauris. Sed lectus
                                tellus
                            </p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="agile-testi">
                        <div class="agile-testi-top agile-testi-top1">

                        </div>
                        <div class="agile-testi-bottom">
                            <img src="https://via.placeholder.com/75" alt="" />
                            <h4>Ullam Firose</h4>
                            <h6>Donec libero dui, scelerisque ac augue</h6>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt lorem sed
                                velit fermentum lobortis. Fusce eu semper lacus, eget placerat mauris. Sed lectus
                                tellus
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
        <script src="js/jquery.flipster.js"></script>
        <script>
            $(function () { $(".flipster").flipster({ style: 'carousel', start: 0 }); });
        </script>
    </div>
</div>