@{
    ViewBag.Title = "Home Page";
}
<!-- banner section -->
<section class="banner-w3ls">
    <!-- <div class="banner-w3l-mk">
        <div class="logo-w3ls">
            <a href="index.html">
                <h1><i class="fa fa-gratipay" aria-hidden="true"></i>Handout</h1>
            </a>
        </div>
    </div> -->
    <!-- <button id="trigger-overlay" type="button"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <div class="overlay overlay-door">
            <button type="button" class="overlay-close"><i class="fa fa-times" aria-hidden="true"></i></button>
            <nav>
                <ul>
                    <li><a href="index.html" class="scroll">Home</a></li>
                    <li><a href="#about" class="scroll">About Us</a></li>
                    <li><a href="#services" class="scroll">Services</a></li>
                    <li><a href="#features" class="scroll">Features</a></li>
                    <li><a href="#gallery" class="scroll">Gallery</a></li>
                    <li><a href="#team" class="scroll">Volunteers</a></li>
                    <li><a href="#mail" class="scroll">Mail Us</a></li>
                </ul>
            </nav>
        </div> -->
    <div class="jumbotron" style="background:url(/Images/main1.jpg) no-repeat center center; background-size: cover">
        <div class="container" style="text-align: center">
            <h3 style="font-size: 4em; margin-top: 30vh; color: white;">Young Refugee Support Project (YRSP)</h3>
            <p style="color: white;">
                YRSP is a one-stop, comprehensive website that houses the resources and information young refugees need
                to build successful lives for themselves and their families in the Victoria.
            </p>
            <ul class="banner-agileits">
                <li><a href="@Url.Action("Population", "Home")" id="jumbotron-button">About Us</a></li>
            </ul>
            <a href="#about" class="btn btn-circle scroll" id="hand">
                <i class="fa fa-hand-o-down" aria-hidden="true"></i>
            </a>
        </div>
    </div>

    @*<div class="pogoSlider" id="js-main-slider">
        <div class="pogoSlider-slide" data-transition="verticalSlide" data-duration="4000"
             style="background-image:url(/Images/Refugee.jpg);">
            <div class="pogoSlider-slide-element">
                <div class="container">
                    <h3>Young Refugee Support Project (YRSP)</h3>
                    <p>
                        YRSP is a one-stop, comprehensive website that houses the resources and information young refugees need
                        to build successful lives for themselves and their families in the Victoria.
                    </p>
                    <ul class="banner-agileits">
                        <li><a href="#mail" class="link-w3l2 scroll">About Us</a></li>
                    </ul>
                    <a href="#about" class="btn btn-circle scroll">
                        <i class="fa fa-hand-o-down" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="pogoSlider-slide " data-transition="verticalSlide" data-duration="4000"
             style="background-image:url(/Images/ce_education_explosion.jpg);">
            <div class="pogoSlider-slide-element">
                <div class="container">
                    <h3>Status of young refugees in Australia</h3>
                    <p>
                        Know more about the status of young refugees in Australia. Refugee resettlement to Australia:
                        what are the facts? How many refugees does Australia accept for resettlement?
                    </p>
                    <ul class="banner-agileits">
                        <li><a href="@Url.Action("Population", "Home")" class="link-w3l1" data-toggle="modal">Read More</a></li>
                    </ul>
                    <a href="#about" class="btn btn-circle scroll">
                        <i class="fa fa-hand-o-down" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>*@
    @*<div class="pogoSlider-slide " data-transition="verticalSlide" data-duration="2000"
             style="background-image:url(/Images/banner3.jpg);">
            <div class="pogoSlider-slide-element">
                <div class="container">
                    <h3>We Can Make Smile!</h3>
                    <p>Lorem ipsum dolor sit amet, adipiscing elit.</p>
                    <ul class="banner-agileits">
                        <li><a href="@Url.Action("Population", "Home")" class="link-w3l1" data-toggle="modal">Read More</a></li>
                        <li><a href="#mail" class="link-w3l2 scroll">Contact Us</a></li>
                    </ul>
                    <a href="#about" class="btn btn-circle scroll">
                        <i class="fa fa-hand-o-down" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="pogoSlider-slide " data-transition="verticalSlide" data-duration="2000"
             style="background-image:url(/Images/banner4.jpg);">
            <div class="pogoSlider-slide-element">
                <div class="container">
                    <h3>Education For Every Kid!</h3>
                    <p>Lorem ipsum dolor sit amet, adipiscing elit.</p>
                    <ul class="banner-agileits">
                        <li><a href="@Url.Action("Population", "Home")" class="link-w3l1" data-toggle="modal">Read More</a></li>
                        <li><a href="#mail" class="link-w3l2 scroll">Contact Us</a></li>
                    </ul>
                    <a href="#about" class="btn btn-circle scroll">
                        <i class="fa fa-hand-o-down" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>*@
    @*</div>*@
</section>
<div class="stats" id="about">
    <div class="container">
        <h3 class="w3l-title"><span>O</span>ur <span>S</span>ervices</h3>
        <p>
            Our support services help to address the needs of refugees in Victoria.
            Our services include: Education support, Career services, Become A Volunteer, Life in Victoria, Social events.
        </p>
        <div class="row" style="margin-left: 0; margin-right: 0;">
            <div class="col-sm-4 service-tile">
                <div class="tile-background">
                    <div class="tile-content">
                        <h4><a href="####" data-toggle="modal" data-target="#myModal">Education support</a></h4>
                        <p>Find English learning resources & other courses.</p>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel"><b>Education support</b></h4>
                        </div>
                        <div class="modal-body">
                            We provide services for guiding you to access free courses and help you find out what schools
                            are suitable for refugees. Please make your selection about what you are interested in:
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-primary" href="@Url.Action("Education", "Home")" role="button">Find Courses</a>
                            <a class="btn btn-primary" href="@Url.Action("School", "Home")" role="button">Find Schools</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 service-tile">
                <div class="tile-background">
                    <div class="tile-content">
                        <h4>Career</h4>
                        <p>Help you start your career in Victoria!</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 service-tile">
                <div class="tile-background">
                    <div class="tile-content">
                        <h4>Become Volunteer</h4>
                        <p>Want to help refugees in Victoria. Join us!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-left: 0; margin-right: 0;">
            <div class="col-sm-4 service-tile">
                <div class="tile-background">
                    <div class="tile-content">
                        <h4>Know your rights</h4>
                        <p> Get to know refugee rights in Australia.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 service-tile">
                <div class="tile-background">
                    <div class="tile-content">
                        <h4>Social Events</h4>
                        <p>Participate in upcoming refugee social events.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 service-tile">
                    <div class="tile-background">
                        <div class="tile-content">
                            <h4>Make a donation</h4>
                            <p>Participate in upcoming refugee social events.</p>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
